/.quarto/
/_site/
.DS_Store
posts/230327_eksamenS1/del2-2a.png
posts/230327_eksamenS1/del2-2b.png
posts/230327_eksamenS1/del2-6a.png
posts/230327_eksamenS1/del2-6b.png
posts/230327_eksamenS1/del2-6c.png
posts/230327_eksamenS1/del2-6d.png
posts/230327_eksamenS1/del2-6e.png
posts/230327_eksamenS1/exam.png
posts/230327_eksamenS1/oppg1-sannsyn.png
.DS_Store
posts/.DS_Store