@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*-- scss:default --*/
// Fargar
$lys-beige: #FDF9ED;
$beige: #F9EDCC;
$mork-bla: #293241;
$mork-gul: #F9DF74;

$primary: #3D5A80 !default; // blå
$secondary: #EE6C4D; // oransj

$body-color: $mork-bla;
$link-color: $secondary;

// Kodeblokk bakgrunnsfarge
$code-block-bg: $lys-beige;

// inlinekode bakgrunnsfarge
$code-bg: $beige;

// inlinekode kodefarge
$code-color: $primary;

$code-block-border-left: $mork-gul;
$code-block-border-left-size: 2px;

// Fontar
$headings-font-family: "Epilogue";
$font-family-monospace: "Jetbrains Mono";
$font-family-sans-serif: "Noto Sans";



/*-- scss:rules --*/
// tittelfarge
#title-block-header.quarto-title-block.default .quarto-title .title {
    color: white;
}

// fargar på kategoriar
.quarto-title .quarto-categories .quarto-category {
    opacity:1;
    background-color: $beige;
    color: $primary;
}

.quarto-grid-item .card-title {
color: $mork-bla;
}

// fonstorleik boktittel
.subtitle.lead {
    font-size: 1.5rem;
}

.quarto-grid-item .listing-categories .listing-category {
    color: #98C1D9;
    }

// feite typar i inline-kode
p code:not(.sourceCode) {
    white-space: pre-wrap;
    font-weight: bold;
}

// kapittelnummerfarge
.header-section-number {
color: $secondary;
}


